.task-filler-container {
  .task-filler {
    width: 368px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    .create-task {
      position: relative;
      .create-task-btn {
        position: absolute;
        right: 0px;
        width: 96px;
        height: 36px;
        border-radius: 8px;
        color: black;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &.disable {
          pointer-events: none;
          background-color: gray;
          cursor: default;
          opacity: 0.5;
        }
      }
    }
  }
}
