.task-container {
  display: flex;

  .left-container {
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 70%;
    .task-header {
      font-size: 32px;
      padding: 64px 0px 96px 0px;
      font-weight: bold;
    }
  }
  .right-container {
    width: 30%;
    height: 90vh;
    border: 2px solid black;
    overflow-y: scroll;
  }
}
