.input-box-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 16px;
  .header {
    font-size: 16px;
    font-weight: bolder;
  }
  input {
    width: 368px;
  }
}
